.about {
    padding: 2em 15% 2em 20%;
}

.about--h1 {
    padding-top: 1.1em;
    font-size: 59px;
    font-family: "Turrent Road Bold";
    font-weight: 900;
    
}

.about--h2 {
    margin-top: 1em;
    margin-bottom: 2em;
    padding-right: 35%;
    letter-spacing: 1px;
    font-size: 32px;
    line-height: 1.5em;
    font-weight: 600;
    color: rgba(50, 50, 50, 0.9);
    font-family: 'Inconsolata', sans-serif;
}

.contactus--button {
    padding : 1.6% 6%;
    font-weight: 700;
}